[user]
	name = Paweł Korzeniewski
	email = pawel@korzeniewski.pl

[alias]
    d = "diff"
    dc = "diff --cached"
    s = "status"
    ss = "status -s"
    l = "!git log --graph --abbrev-commit --pretty=oneline --decorate"

    # My Logs -- print logs where author==user.email.
    ml = "!git l --author=`git config user.email`"

[core]
	excludesfile = ~/.gitignore
	editor = vim
