[user]
    name = Paweł Korzeniewski
    email = pawel@korzeniewski.pl

[alias]
    c = "!git commit"
    ca = "!git commit --amend"
    fa = "!git fetch --all"
    p = "!git push"
    pf = "!git push --force"
    br = "!git branch"
    co = "!git checkout"
    cp = "!git cherry-pick"
    d = "!git diff"
    ds = "!git diff --staged"
    s = "!git status"
    ss = "!git status -s"
    l = "!git log --graph --abbrev-commit --pretty=oneline --decorate"

    # My Logs.
    ml = "!git l --author=`git config user.email`"

[core]
    excludesfile = ~/.gitignore
    editor = vim
